<!DOCTYPE html>
<html lang="ro">

<head>
    <title>SteelVector</title>
    <meta name="description"
        content="SteelVector vinde structuri metalice solide pentru hale industriale cu profile IPE, HEA si HEB.">
    <meta name="keywords"
        content="metale, structuri metalice, IPE, hala, HEA, HEB, profile, bare, tije, hala, grinzi, otel, construcții, depozit">
    <%- include('../fragmente/head') %>
</head>



<body class="saira">
    <%- include('../fragmente/header') %>

    <%- include('../fragmente/footer') %>

</body>

</html>