<!DOCTYPE html>
<html lang="ro">

<head>
    <title>SteelVector</title>
    <meta name="description"
        content="SteelVector vinde structuri metalice solide pentru hale industriale cu profile IPE, HEA si HEB.">
    <meta name="keywords"
        content="metale, structuri metalice, IPE, hala, HEA, HEB, profile, bare, tije, hala, grinzi, otel, construcții, depozit">
    <%- include('../fragmente/head') %>
</head>



<body class="saira">
    <%- include('../fragmente/header') %>
    <main>
        <div id="grid-pagina">

            <section id="welcome">
                <hgroup>
                    <h2>Bine ați venit pe SteelVector</h2>
                    <p class="subtitlu">Expertiză în oțel structural pentru hale</p>
                </hgroup>

                <p class="intro">Vă mulțumim că ne vizitați site-ul. Suntem partenerul dumneavoastră strategic pentru
                    construcții metalice rezistente, oferind o gamă completă de profile și țevi certificate.
                </p>

                <blockquote cite="https://www.lindab.ro">
                    "Sistemele de hale metalice sunt proiectate pentru a oferi o <b>eficiență maximă</b> a spațiului și o durabilitate crescută în timp."
                </blockquote>

                <div class="intro-oferte">
                    <div>
                        Profile metalice
                    </div>
                    <div>
                        Tevi structurale
                    </div>
                    <div>
                        Bare si Tije
                    </div>
                </div>
                <p class="anunt intro">Comandați acum online unul din produsele noastre !</p>
                <div id="dv-prezentare-1">
                    <div id="dv-prezentare">
                        <picture>
                            <!-- il ia pe primul care se potriveste cu query-ul din media-->
                            <source srcset="./resurse/imagini/Depozit-produse-metalurgice-200x200.jpg"
                                media="(max-width:700px)">
                            <source srcset="./resurse/imagini/Depozit-produse-metalurgice-mid.jpg" media="(max-width:1200px)">
                            <img src="./resurse/imagini/galerie/Depozit-produse-metalurgice.jpg" alt="text">
                        </picture>
                    </div>
                </div>
                <hr class="metal">
                <div id="container-video">
                    <a href="resurse/imagini/galerie/SteelVector-prezentare.png" target="_self">
                        <img style="width:50%" class="farfurie" src="resurse/imagini/galerie/SteelVector-prezentare.png"
                            alt="SteelVector" title="Click pentru a vedea imaginea mare">
                    </a>

                    <p><a href="resurse/imagini/galerie/SteelVector-prezentare.png" download="SteelVector.png">Descarcă
                            imaginea de prezentare</a></p>
                    <div id="centrare-video">
                        <div id="clip-video">
                            <div id="stil-video">
                                <video width="320" height="240" playsinline autoplay loop muted>
                                    <source src="resurse/video/structura.mp4" type="video/mp4">
                                    <source src="resurse/video/structura.mp4" type="video/mp4">

                                    <track default src="resurse/video/subtitrare_ro.vtt" kind="captions" srclang="ro"
                                        label="Română">

                                    <track src="resurse/video/subtitrare_en.vtt" kind="captions" srclang="en"
                                        label="English">
                                </video>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="promotii">
                <h2>Promoții și oferte</h2>
                <article>
                    <h3 class="titlu">Discount de Volum</h3>
                    <p><b>SteelVector</b> ofera <b>reduceri de <s>10%</s> <ins>15%</ins></b> pentru toate comenzile de
                        profile <b>HEB</b> ce depasesc 5 tone.</p>
                    <p>Oferta este valabila pentru proiectele de hale industriale realizate prin platforma <abbr
                            title="SteelVector">SV</abbr>.</p>
                    <p>Daca achizitionati mai mult de 20 de <b>grinzi</b> IPE, primiti transport gratuit in toată tara!
                    </p>
                </article>
                <article>
                    <h3>Pachet Start Constructie</h3>
                    <p>SteelVector oferă pachete de bază cuprinzând:</p>
                    <ol>
                        <li>Profile metalice IPE</li>
                        <li>Un set de tevi patrate pentru stalpi</li>
                        <li>Tije filetate pentru ancorare</li>
                        <li><i>Ofertă speciala:</i> Grund protectie inclus</li>
                        <li>Gratis: Consultanta tehnica proiect</li>
                    </ol>

                </article>
                <article>
                    <h3>Soluții de Iarnă</h3>
                    <p>Avem stocuri masive de oțel structural gata de livrare pentru a nu bloca santierele în sezonul
                        rece.</p>
                </article>
                <p>Gradul de satisfacție clienți:
                    <meter value="95" min="0" max="100" low="40" high="70" optimum="90">Excelent</meter>
                </p>
            </section>
            <section id="produse">
                <h2>Catalog Produse</h2>

                <dl>
                    <dt><dfn>Europrofile</dfn></dt>
                    <dd>Profile de oțel laminate la cald, utilizate ca elemente structurale în construcții.</dd>
                </dl>

                <p>Oferim solutii complete pentru infrastructura metalică a proiectului dumneavoastra.</p>
                <section>
                    <h3>Profile Metalice</h3>
                    <p>Elemente de bază pentru rezistenta:</p>
                    <ul>
                        <li>Grinzi IPE
                            <p>Nivelul stocului de profile IPE:
                                <meter value="45" min="0" max="100" low="30" high="80" optimum="90">Scăzut</meter>
                            </p>
                        </li>

                        <li>Profile HEA / HEB
                            <p>Nivelul stocului de profile HEA/HEB:
                                <meter value="80" min="0" max="100" low="30" high="80" optimum="90">Scăzut</meter>
                            </p>
                        </li>
                        <li>Profile U (Canal)
                            <p>Nivelul stocului de profile U:
                                <meter value="60" min="0" max="100" low="30" high="80" optimum="90">Scăzut</meter>
                            </p>
                        </li>
                        <li>Profile L (Colțar)
                            <p>Nivelul stocului de profile L:
                                <meter value="30" min="0" max="100" low="30" high="80" optimum="90">Scăzut</meter>
                            </p>
                        </li>
                        <li>Platbandă otel
                            <p>Nivelul stocului de platbandă oțel:
                                <meter value="97" min="0" max="100" low="30" high="80" optimum="90">Scăzut</meter>
                            </p>
                        </li>
                    </ul>
                </section>
                <section>
                    <h3>Tevi Structurale</h3>
                    <p>Utilizate pentru cadre si sustineri:</p>
                    <ul>
                        <li>Tevi rotunde
                            <p>Nivelul stocului de tevi rotunde:
                                <meter value="78" min="0" max="100" low="30" high="80" optimum="90">Scăzut</meter>
                            </p>
                        </li>
                        <li>Tevi pătrate
                            <p>Nivelul stocului de tevi pătrate:
                                <meter value="25" min="0" max="100" low="30" high="80" optimum="90">Scăzut</meter>
                            </p>
                        </li>
                        <li>Tevi dreptunghiulare
                            <p>Nivelul stocului de tevi pătrate:
                                <meter value="35" min="0" max="100" low="30" high="80" optimum="90">Scăzut</meter>
                            </p>
                        </li>
                    </ul>
                </section>
                <section>
                    <h3>Bare si Tije</h3>
                    <p>Componente pentru finisaje si prinderi:</p>
                    <ul>
                        <li>Bare rotunde
                            <p>Nivelul stocului de tevi rotunde:
                                <meter value="100" min="0" max="100" low="30" high="80" optimum="90">Scăzut</meter>
                            </p>
                        </li>
                        <li>Bare pătrate
                            <p>Nivelul stocului de tevi pătrate:
                                <meter value="50" min="0" max="100" low="30" high="80" optimum="90">Scăzut</meter>
                            </p>
                        </li>
                        <li>Tije filetate
                            <p>Nivelul stocului de tevi pătrate:
                                <meter value="67" min="0" max="100" low="30" high="80" optimum="90">Scăzut</meter>
                            </p>
                        </li>
                    </ul>
                </section>
            </section>
            <section id="orar">
                <h2>Orar</h2>
                <table id="tab-orar">
                    <caption>Programul de funcționare și livrări SteelVector</caption>
                    <thead>

                        <tr>
                            <th>Cod</th>
                            <th>Regim</th>
                            <th>Zi</th>
                            <th>Livrari </th>
                            <th>Pauza</th>
                            <th>Livrari </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>SV01</td>
                            <td rowspan="5">Zile<br>Lucrătoare</td>
                            <td>Luni</td>
                            <td>08-12</td>
                            <td>12-14</td>
                            <td>14-18</td>
                        </tr>
                        <tr>
                            <td>SV02</td>
                            <td>Marti</td>
                            <td>08-12</td>
                            <td>12-14</td>
                            <td>14-18</td>
                        </tr>
                        <tr>
                            <td>SV03</td>
                            <td>Miercuri</td>
                            <td>08-12</td>
                            <td>12-14</td>
                            <td>14-18</td>
                        </tr>
                        <tr>
                            <td>SV04</td>
                            <td>Joi</td>
                            <td>08-12</td>
                            <td>12-14</td>
                            <td>14-18</td>
                        </tr>
                        <tr>
                            <td>SV05</td>
                            <td>Vineri</td>
                            <td>08-12</td>
                            <td>12-14</td>
                            <td>14-17</td>
                        </tr>
                        <tr>
                            <td>SV-W1</td>
                            <td rowspan="2">Weekend</td>
                            <td>Sambata</td>
                            <td>09-12</td>
                            <td>12-13</td>
                            <td>13-15</td>
                        </tr>
                        <tr>
                            <td>SV-W2</td>
                            <td>Duminica</td>
                            <td>Închis</td>
                            <td>-</td>
                            <td>Închis</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="6">Închis cu ocazia sărbătorilor legale.</td>
                        </tr>
                    </tfoot>
                </table>
                <p><strong>Atentie!!!</strong> In prima zi a lunii efectuam inventarul stocului</p>
            </section>
            <figure id="fig1" class="fg-img">
                <img src="resurse/imagini/galerie/IPE300.png" alt="IPE300" title="Profil metalic IPE 300">
                <figcaption>Grindă IPE 300</figcaption>
            </figure>
            <figure id="fig2" class="fg-img">
                <img src="resurse/imagini/galerie/teava100x100.png" alt="Teava100x100" title="Teavă pătrată rezistentă">
                <figcaption>Țeavă Pătrată 100x100</figcaption>
            </figure>
            <figure id="fig3" class="fg-img">
                <img src="resurse/imagini/galerie/bara-rotunda.png" alt="BaraRotunda" title="Bară rotundă oțel">
                <figcaption>Bară Oțel Rotundă</figcaption>
            </figure>
            <section id="anunturi">
                <h2 class="fg-img">Anunțuri</h2>
                <ul>
                    <li><time datetime="2026-01-20">20 ianuarie 2026</time> <b>Reînnoire Stocuri</b> - Ne pregătim
                        pentru noul sezon de construcții
                        și am reînnoit stocurile de profile HEA și HEB pentru hale industriale.</li>

                    <li><time datetime="2025-11-15">15 noiembrie 2025</time> <b>Flota proprie s-a mărit!</b> -
                        Acum putem livra grinzi de până la 12 metri lungime direct pe șantier.</li>

                    <li><time datetime="2025-03-15">15 martie 2025</time> <b>Noi profile în stoc</b> - adăugat o nouă
                        categorie de
                        europrofile IPE în catalog.</li>


                    <li><time datetime="2024-07-05">5 iulie 2024</time> <b>Actualizare certificate</b> - Am actualizat
                        certificatele de conformitate
                        conform noilor standarde europene de siguranță.</li>

                    <li><time datetime="2024-04-15">15 aprilie 2024</time> <b>Noi produse în stoc
                        </b> - Am adăugat tije filetate de înaltă rezistență
                        în secțiunea de accesorii.</li>

                    <li><time datetime="2023-12-20">20 decembrie 2023</time> <b>Inventar în desfășurare</b> - Depozitul
                        va fi închis pentru inventarul
                        anual, dar platforma online rămâne deschisă pentru comenzi.</li>

                    <li><time datetime="2023-09-28">28 septembrie 2023</time> <b> O noua secțiune </b> - Am adăugat o
                        secțiune de „Ofertă Specială”
                        pentru stocurile de țevi structurale.</li>

                    <li><time datetime="2023-01-01">1 ianuarie 2023</time> <b>An nou fericit!</b> - Vă dorim un an nou
                        plin de proiecte solide și
                        construcții durabile!</li>

                    <li><time datetime="2022-02-11">11 februarie 2022</time> <b>Studii de rezistență</b> - Studiile de
                        rezistență au arătat că oțelul
                        structural este cea mai sigură bază pentru clădiri industriale.
                        E adevărat că sunt studiile noastre tehnice, dar cifrele nu mint niciodată. </li>
                </ul>
            </section>
            <section id="index-intrebari">
                <h2>Întrebări frecvente (FAQ)</h2>
                <details>
                    <summary>Oferiți servicii de debitare la dimensiune?</summary>
                    <p>Da! Putem taia orice profil sau teava conform specificatiilor din proiectul dumneavoastra.</p>
                </details>
                <details>
                    <summary>Cum se calculează pretul transportului pentru grinzi mari?</summary>
                    <p>Pretul variaza in functie de greutatea totala si distanta pana la santier.</p>
                </details>
                <details>
                    <summary>Produsele sunt insotite de certificat de calitate?</summary>
                    <p>Categoric! Toate materialele SteelVector sunt certificate conform normelor europene.</p>
                </details>
            </section>

        <section id="galerie-statica">
            <h2>Galerie Proiecte</h2>
            <div id="grid-galerie">
                <section id="harta-site">
                    <h2>Harta Interactivă a Site-ului</h2>
                    <p>Faceți click pe elementele din imagine pentru a naviga rapid.</p>

                    <figure>
                        <img src="resurse/imagini/galerie/imagine-map.png" alt="Machetă interactivă"
                            usemap="#navigare-vizuala" width="600">

                        <map name="navigare-vizuala">
                            <area shape="rect" coords="252,105,412,185" href="#produse" alt="Spre Produse"
                                title="Mergi la Catalogul de Produse">

                            <area shape="circle" coords="509,245,85" href="#promotii" alt="Spre Promoții"
                                title="Mergi la Promoții">

                            <area shape="poly" coords="743,126,823,226,743,326,663,226" href="#orar" alt="Spre Orar"
                                title="Vezi Orarul de Funcționare">
                        </map>

                        <figcaption>Click pe panouri (Produse, Promoții, Orar) pentru navigare.</figcaption>
                    </figure>
                </section>
            </div>
        </section>
        <section id="ghid">
            <h2>Ghiduri Tehnice</h2>

            <p>Informații despre producția oțelului:
                <a href="https://ro.wikipedia.org/wiki/O%C8%9Bel#Produc%C8%9Bia" target="_blank">
                    https://ro.wikipedia.org/wiki/Oțel<wbr>#Producția
                </a>
            </p>
            <p>Vă punem la dispoziție ghiduri video pentru a înțelege procesele de producție și montaj ale structurilor
                noastre metalice.</p>
            <p>Dacă plănuiți să vă coordonați singuri montajul structurii (deși este o provocare uriașă fără
                echipamentele potrivite)
                vă invitam sa urmariti aceste materiale video educative. Sperăm să vă fie de folos, să vedeți cât de
                <s>ușor</s>
                este să aliniați profilele de mare tonaj și, în cazul în care decideți că aveți nevoie de ajutor
                profesionist,
                suntem aici să vă sprijinim cu drag &#128512;. Mult succes în proiectul dumneavoastră! &#128513;
            </p>
            <div class="container-iframe">
                <div class="taburi-iframe">
                    <a href="https://www.youtube.com/embed/b-SYwm25pWE" target="ifr-video">
                        Ghid Instalare Structură (3D)
                    </a>
                    <a href="https://www.youtube.com/embed/EjVQMXhgoms" target="ifr-video">
                        Instrucțiuni Montaj Hale
                    </a>
                    <a href="https://www.youtube.com/embed/rF1Uf6aYn0U" target="ifr-video">
                        Detalii Tehnice Construcție
                    </a><br>
                </div>

                <iframe width="560" height="315" src="https://www.youtube.com/embed/5_7nD4WtKaM" name="ifr-video"
                    title="YouTube video player" style="border: 0;"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
                </iframe>
            </div>

            <article id="calcul-greutate">
                <h3>Ghid de calcul: Greutatea țevilor pătrate</h3>
                <p>Pentru a estima costurile de transport, puteți calcula masa (M) unei țevi pătrate folosind următoarea
                    formulă, unde <b>&rho;</b> (rho) este densitatea oțelului (aprox. 7850 kg/m&sup3;), <b>B</b> este
                    latura exterioară, <b>b</b> latura interioară, iar <b>L</b> lungimea profilului:
                    <math xmlns="http://www.w3.org/1998/Math/MathML">
                        <mrow>
                            <mi>M</mi>
                            <mo>=</mo>
                            <mi>&#x03C1;</mi>
                            <mo>&#x22C5;</mo>
                            <mrow>
                                <mo>(</mo>
                                <msup>
                                    <mi>B</mi>
                                    <mn>2</mn>
                                </msup>
                                <mo>-</mo>
                                <msup>
                                    <mi>b</mi>
                                    <mn>2</mn>
                                </msup>
                                <mo>)</mo>
                            </mrow>
                            <mo>&#x22C5;</mo>
                            <mi>L</mi>
                        </mrow>
                    </math>
                </p>
            </article>

        </section>

        <section id="pdf">
            <article id="catalog-pdf">
                <h3>Catalog Tehnic (PDF)</h3>
                <embed src="resurse/pdf/catalog_produse.pdf" type="application/pdf" width="800" height="600"
                    style="width:100%;">
            </article>
        </section>

    </div>

    </main>

    <%- include('../fragmente/footer') %>
    
    <div id="watermark-print">Flintașu<br>Bogdan</div>
</body>



</html>