<footer>
    <address>
        <strong>SteelVector S.R.L.</strong><br>
        Telefon fictiv: <a href="tel:+40722451724">0722 451 724</a><br>
        E-mail: <a href="mailto:office@steelvector.ro">office@steelvector.ro</a><br>
        Contact rapid: <a href="https://wa.me/40722451724">Chat pe WhatsApp</a><br>
        Adresă: <a
            href="https://www.google.com/maps/place/Facultatea+de+Matematic%C4%83+%C8%99i+Informatic%C4%83/@44.4355356,26.099037,19z/data=!4m6!3m5!1s0x40b1ff472f47f047:0x493984726f0235f9!8m2!3d44.4355355!4d26.0995867!16s%2Fg%2F1td63tdh?entry=ttu&g_ep=EgoyMDI2MDMwNC4xIKXMDSoASAFQAw%3D%3D"
            target="_blank">
            Strada Academiei nr. 14,<br>
            București, România
        </a>

        <br><br>

        <iframe
            src="https://maps.google.com/maps?q=Facultatea+de+Matematica+si+Informatica+Bucuresti&t=&z=15&ie=UTF8&iwloc=&output=embed"
            width="350" height="200" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
            title="Harta locației Facultății de Matematică și Informatică">
        </iframe>
    </address>
    <hr>
    <a href="#" id="link-top" data-tooltip="Înapoi sus">
        <div id="top-container">
            <span id="top-sageata">&#129081;</span>
        </div>
    </a>
    <p>
        <small>
            Copyright &copy; 2026 Flintasu Bogdan Ionut. <br>
        </small>
    </p>
    <p id="banner-print">Acesta este un proiect școlar!</p>
</footer>