<nav>
    <input type="checkbox" id="ch-menu">
    <label id="hamburger" for="ch-menu">
        <div id="burger">
            <span></span>
            <span></span>
            <span></span>
        </div>    
    </label>

    <ul class="meniu">
        
        <li>
            <div class="optiune-principala" tabindex="0">
                <div class="imag-icon"><i class="fas fa-house"></i></div>
                <div class="text-icon">Acasă</div>
            </div>
            <ul>
                <li><a href="#welcome">Bine ați venit</a></li>
                <li><a href="#promotii">Promoții</a></li>
                <li><a href="#anunturi">Anunțuri</a></li>
                <li><a href="#produse">Oferta</a></li>
                <li><a href="#orar">Orar</a></li>
                <li><a href="#index-intrebari">Întrebări</a></li>
                <li><a href="#subsol">Subsol</a></li>
            </ul>
        </li>

        <li>
            <a href="#" class="optiune-principala" >
                <div class="imag-icon"><i class="fas fa-book"></i></div>
                <div class="text-icon">Înregistrare</div>
            </a>
        </li>

        <li>
            <div class="optiune-principala" tabindex="0">
                <div class="imag-icon"><i class="fas fa-circle-info"></i></div>
                <div class="text-icon">Despre</div>
            </div>
            <ul>                        
                <li><a href="despre.html#prezentare">Prezentare</a></li>
                <li><a href="despre.html#istoric">Istoric</a></li>
                <li><a href="despre.html#motivatie">Motivație</a></li>
                <li><a href="despre.html#galerie">Galerie</a></li>
            </ul>
        </li>

        <li>
            <div class="optiune-principala" tabindex="0">
                <div class="imag-icon"><i class="fas fa-box-open"></i></div>
                <div class="text-icon">Produse</div>
            </div>
            <ul>
                <li><a href="#">Toate</a></li>
                <li><a href="#">Profile IPE</a></li>
                <li><a href="#">Profile HEA</a></li>
                <li><a href="#">Bare rotunde</a></li>
            </ul>
        </li>

        <li>
            <a href="#" class="optiune-principala">
                <div class="imag-icon"><i class="fa-regular fa-envelope fa-shake"></i></div>
                <div class="text-icon">Contact</div>
            </a>
        </li>

    </ul>
</nav>
<header>
    <h1>Steel<span>Vector</span></h1>
</header>